.mainContainer{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 301px);
    padding: 50px 0px 50px 0px;
    align-items: center;
    gap: 50px;
}

.boxProductRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    width: 95%;
    gap: 30px;
}

.boxRight{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60%;
}

.boxLeft {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.boxLeft img{
    border-radius: 2px;
}

.boxRowPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.inCart{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 2px;
    background-color: #9F938F;
    width: fit-content;
}

@media screen and (max-width:950px) {
    .boxProductRow{
        flex-direction: column-reverse;
    }
    .boxLeft{
        justify-content:center;
        align-items: center;
    }
    .boxRight{
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .inCart, .boxRowPrice{
        width: 100%;
    }
}