.mainContainer{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 301px);
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0px 60px 0px;
}

.boxCustomOrder{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 353px;
    gap: 40px;
}

.boxOneCustom{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.boxOneCustomButton{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    background-color: #D9D9D9;
    height: 44px;
    padding: 0px 10px;
    align-items: center;
}

.order{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 2px;
    background-color: #9F938F;
    width: fit-content;
    margin: auto;
}